body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 8, 8);
    padding: 5vw;
}
#main{
    height: 700px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
button{
    display: flex;
    align-content: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    font-size: 23px;
    margin: 74px;
    padding: 30px 60px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    transition: all linear 0.5s;
    position: relative;
    overflow: hidden;
}
button::after{
    content: " ";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all linear 0.5s;
    z-index: -1;
}
button:hover::after{
    transform: translate(-50%,-50%) scale(4);
}
button:hover{
    color: black;
}